<!---->
.textboard {
  width: 60%;
  /*height: 500px;*/
  margin: 0 auto;
  font-size: 1.2rem;
  color: #000;
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 0 4px #FFF inset;
  background-color: rgba(255,255,255,0.9);
}


.test1 {
  width: 96%;
  margin: 2%;
  
  /* プロパティは順に name, duration, timing-function です */
  }




@-webkit-keyframes ozDq { from { width: 0; } } /* 開始地点の指定 */
@-moz-keyframes ozDq { from { width: 0 } }
@-webkit-keyframes ozPulse { { /* 透明度の指定 */
  from { opacity: 1; }
  to { opacity: 0; }
}


@-moz-keyframes ozPulse {
from { opacity: 1; }
to { opacity: 0; }
}



